table {
  border-collapse: collapse;
}

th {
  font-weight: 600;
  text-align: left;
}

td,
th {
  vertical-align: top;
}

button:disabled {
  opacity: 0.7;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: #f3f4f6;
}
